.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Tùy chỉnh màu nền và font chữ */
.react-datepicker {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

/* Tùy chỉnh màu chữ và viền nút */
.react-datepicker__header {
  background-color: #333;
  color: #fff;
  border: none;
}

/* Tùy chỉnh màu chữ trong ngày được chọn */
.react-datepicker__day--selected {
  background-color: #333;
  color: #fff;
}

/* Tùy chỉnh màu viền ngoài và trong ngày hiện tại */
.react-datepicker__day--today {
  border: 1px solid #333;
  color: #333;
}

/* Tùy chỉnh màu viền ngày khi di chuột qua */
.react-datepicker__day--keyboard-selected {
  background-color: #333;
  color: #fff;
}
